.bookTicket{
    background: #f23a27;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.dateTime h1{
    padding: 10px;
}

.dateTime{
    background: black;
    width: 70px;
}

.offerTiming{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    text-align: center;
}

.bookTicketBtn{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 25px;
}

.MsgBookTicket{
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    margin-right: 25px;
}

.dateTime{
    border-radius: 5px;
    margin: 0 auto;
}

.offerTime{
    font-size: 8px;
    height: 0;
}